{% extends 'dashboard/base.html' %}
{% block title %}Table Account {% endblock %}
{% block title_main %}Account{% endblock %}
{% block details %}Edit Account For You{% endblock %}
{% block body %}

{% include "dashboard/_modal.html" %}
{% for message in messages %}
<div class="alert {{ message.tags }} alert-dismissible" role="alert" id="message">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
    {{ message }}
    {% if message == "Please sign in to book." %}
    <a href="/login/?next={{ request.path }}" class="lang" key="login">Login</a>
    {% endif %}
</div>
{% endfor %}
<div class="modal-left">
    <button type="button" class="create-book btn btn-primary" data-toggle="modal" data-target="#exampleModal"> <i class="fas fa-plus"></i></button>
</div>
<div class="boxes">
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Name</th>
                <th>Phone</th>
                <th>Email</th>
                <th>NameTour</th>
            </tr>
        </thead>
        <tbody>
            {% for i in context %}
            <tr>
                <td class="filterable-cell">{{ i.person_book }}</td>
                <td class="filterable-cell">{{ i.phone }}</td>
                <td class="filterable-cell">{{ i.email }}</td>
                <td class="filterable-cell">{{ i.tour.name_tour }}</td>
                <td class="filterable-cell">
                    <button class="update-book btn btn-secondary" data-id="{% url 'UpdateBookTour' i.pk %}">Update</button>
                    <button class="delete-book btn btn-danger" data-id="{% url 'DeleteBookTour' i.pk %}">Delete</button>
                    <button class="delete-book btn btn-success" data-id="{% url 'BookTourReadView' i.pk %}">Seem</button>
                </td>
            </tr>
            {% endfor %}
        </tbody>

    </table>
</div>
{% if is_paginated %}
<div class="panning">
    <ul>
        {% if page_obj.has_previous %}
        <li><a href="?page={{ page_obj.previous_page_number }}"><i class="fas fa-chevron-left"></i></a></li>
        {% else %}
        <li class="disabled"><span>&laquo;</span></li>
        {% endif %}
        {% for i in paginator.page_range %}
        {% if page_obj.number == i %}
        <li class="active"><span>{{ i }} &nbsp;<span class="sr-only">(current)</span></span></li>
        {% else %}
        <li><a href="?page={{ i }}">{{ i }}&nbsp;</a></li>
        {% endif %}
        {% endfor %}
        {% if page_obj.has_next %}
        <li><a href="?page={{ page_obj.next_page_number }}"><i class="fas fa-chevron-right"></i></a></li>
        {% else %}
        <li class="disabled"><span>&raquo;</span></li>
        {% endif %}
    </ul>
</div>
{% endif %}
{% endblock body %}

{% block extrascripts %}
<script type="text/javascript">
    $(function () {
        // Create book button
        $(".create-book").modalForm({ formURL: "{% url 'AddBookTour' %}" });

        // Delete book buttons
        $(".delete-book").each(function () {
            $(this).modalForm({ formURL: $(this).data('id') });
        });
        // Update book buttons
        $(".update-book").each(function () {
            $(this).modalForm({ formURL: $(this).data('id') });
        });
        // Read book buttons
        $(".read-book").each(function () {
            $(this).modalForm({ formURL: $(this).data('id') });
        });

    });
</script>
{% endblock extrascripts %}