{% extends 'dashboard/base.html' %}
{% block title %}Table Place {% endblock %}
{% block title_main %}Table Place{% endblock %}
{% block details %}Edit Place For You{% endblock %}
{% block body %}

{% include "dashboard/_modal.html" %}
{% for message in messages %}
<div class="alert {{ message.tags }} alert-dismissible" role="alert" id="message">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
    {{ message }}
    {% if message == "Please sign in to book." %}
    <a href="/login/?next={{ request.path }}" class="lang" key="login">Login</a>
    {% endif %}
</div>
{% endfor %}
<div class="modal-left">
    <a href="{% url 'export' %}" class="btn btn-danger">Export</a>
</div>
<div class="boxes">
    {% for i in context %}
    <div class="box">
        <div class="img">
            <img src="{{ i.tour.image_tour.url }}" alt="Box">
        </div>
        <div class="desciption">
            <h2 class="text-center">{{ i.tour.name_tour }}</h2>
            <h1 class="text-center">name: {{ i.person_book }} </h1>
        </div>
        <div class="info">
            <p>{{i.date_start }} Ngày</p>
            <p>Email: {{ i.email }}</p>
        </div>
        <div class="panel">

        </div>
    </div>
    {% endfor %}
</div>
{% if is_paginated %}
<div class="panning">
    <ul>
        {% if page_obj.has_previous %}
        <li><a href="?page={{ page_obj.previous_page_number }}"><i class="fas fa-chevron-left"></i></a></li>
        {% else %}
        <li class="disabled"><span>&laquo;</span></li>
        {% endif %}
        {% for i in paginator.page_range %}
        {% if page_obj.number == i %}
        <li class="active"><span>{{ i }} &nbsp;<span class="sr-only">(current)</span></span></li>
        {% else %}
        <li><a href="?page={{ i }}">{{ i }}&nbsp;</a></li>
        {% endif %}
        {% endfor %}
        {% if page_obj.has_next %}
        <li><a href="?page={{ page_obj.next_page_number }}"><i class="fas fa-chevron-right"></i></a></li>
        {% else %}
        <li class="disabled"><span>&raquo;</span></li>
        {% endif %}
    </ul>
</div>
{% endif %}
{% endblock body %}

{% block extrascripts %}
<script type="text/javascript">
    $(function () {
        // Create book button
        $(".create-book").modalForm({ formURL: "{% url 'AddTour' %}" });

        // Delete book buttons
        $(".delete-book").each(function () {
            $(this).modalForm({ formURL: $(this).data('id') });
        });
        // Update book buttons
        $(".update-book").each(function () {
            $(this).modalForm({ formURL: $(this).data('id') });
        });
        // Read book buttons
        $(".read-book").each(function () {
            $(this).modalForm({ formURL: $(this).data('id') });
        });

    });
</script>
{% endblock extrascripts %}