{% extends 'home/base.html' %} {% block title %}Place Details{% endblock %} {% block body %} {% load static %}
{% load humanize %}
<div id="tours" class="padding-top-bottom">
    <div class="search-tour" id="search-tour">
        <!-- <p><a href="#ex1" rel="modal:open" class="btn btn-danger">Book Tour</a></p> -->
        <a href="#ex2" rel="modal:open" class="btn btn-danger"><i class="fas fa-search-plus"></i></a>
        <div id="ex2" class="modal" style="width: 100%;">
            <div class="modal-header">
                <h3>Find Tour</h3>
            </div>
            <form action="{% url 'tour_mutil' %}" method="POST">
                {% csrf_token %}
                <div class="form-group">
                    <select class="form-control" name="city_tour">
                        <option selected="true" value="" disabled="disabled">Choose City</option>
                        {% for i in tour_city %}
                        <option value="{{ i.city }}">{{ i.city }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="form-group input-content">
                    <select class="form-control" name="price" style="background: transparent;">
                        <option selected="true" value="" disabled="disabled">Choose Price</option>
                        <option value="1000000">Dưới 1 Triệu</option>
                        <option value="2000000">Dưới 2 Triệu</option>
                        <option value="3000000">Dưới 3 Triệu</option>
                        <option value="4000000">Dưới 4 Triệu</option>
                        <option value="5000000">Dưới 5 Triệu</option>
                        <option value="6000000">Dưới 6 Triệu</option>
                        <option value="50000000">Trên 10 Triệu</option>
                    </select>
                </div>
                <div class="form-group input-content">
                    <select class="form-control" name="person" style="background: transparent;">
                        <option selected="true" value="" disabled="disabled">Choose Person</option>
                        <option value="1 and 2">1 Người </option>
                        <option value="2 and 3">2 Người</option>
                        <option value="3 and 5">3 Người -> 5 Người</option>
                        <option value="5 and 10">5 Người -> 10 Người</option>
                        <option value="10 and 20">10 Người Trở Lên</option>
                    </select>
                </div>
                <div class="form-group input-content">
                    <select class="form-control" name="date" style="background: transparent;">
                        <option selected="true" value="" disabled="disabled">Choose Date</option>
                        <option value="1">1 Ngày/Đêm</option>
                        <option value="2">2 Ngày/Đêm</option>
                        <option value="3">3 Ngày/Đêm</option>
                        <option value="4">4 Ngày/Đêm</option>
                        <option value="5">5 Ngày/Đêm</option>
                        <option value="6">6 Ngày/Đêm</option>
                    </select>
                </div>
                <div class="form-group">
                    <input type="submit" value="Search Tour" class="btn btn-danger">
                </div>
            </form>
        </div>
    </div>
    <div class="boxes_tour">
        {% for i in places_items %}
        <div class="blog-news">
            <p>{{ i.body|safe }}</p>
        </div>
        {% endfor %}
        <div class="author">
            {% for i in tourer %}
            <img src="{{ i.avatar.url }}" alt="Person">
            <div class="description">
                <h1>{{ i.name }}</h1>
                <p class="doc_text">{{ i.email }}</p>
            </div>
            {% endfor %}
        </div>
        <div class="comment-author">
            <h1 class="total">{{ sum_commnet }} comnents</h1>
            {% for i in comment %}
            <div class="comment">
                <img src="{{ i.account.avatar.url }}" alt="Person">
                <div class="description">
                    <h1>{{ i.account.name }}</h1>
                    <h3>{{ i.date }}</h3>
                    <p>{{ i.comment }}</p>
                    <button class="btn btn-light">reply</button>
                </div>
            </div>
            {% endfor %}
        </div>
        <div class="post-comment">
            <h1>leave a commnet</h1>
            {% if tourer %}
            <form action="{% url 'create_comment_place'  places_details.id %}">
                <!-- <div class="form-group">
                        <label for="">Email</label>
                        <input type="text" placeholder="Email" class="form-control" name="email">
                    </div> -->
                <div class="form-group">
                    <label for="">Comments</label>
                    <input type="text" placeholder="name" class="form-control" name="comment_items">
                </div>
                <button class="btn btn-danger" type="submit">post comment</button>
            </form>
            {% else %}
            <div class="add-book">
                <!-- Link to open the modal -->
                <p><a href="#ex1" rel="modal:open" class="btn btn-danger">Comment</a></p>
            </div>
            <div id="ex1" class="modal" style="width: 100%;">
                <div class="modal-header">
                    <h3 class="modal-title">Thông Báo</h3>
                </div>
                <div class="modal-body">
                    <h6>Vui Lòng Đăng Nhập Để Bình Luận</h6>
                </div>

                <div class="modal-footer">
                    <a class="btn btn-warning" href="/login/?next={{ request.path }}">Login</a>
                </div>
            </div>
            {% endif %}

        </div>
    </div>
    <div class="find-form">
        <div class="categories">
            <h1>tour</h1>
            <ul>
                {% for i in place_tour %}
                <li>
                    <h3>{{ i.name_place }}/ {{ i.city }} / {{ i.price|intcomma }} VNĐ</h3>
                    <h6>( {{ i.type_place }} )</h6>
                    <p> <a href="{% url 'places_details' i.id  %}" class="btn btn-danger">Seem</a>
                    </p>
                </li>
                {% endfor %}
            </ul>
        </div>
        <div class="tab-cloud">
            <h1>tag city</h1>
            <div class="tabs">
                {% for i in city %}
                <a href="/places/search/{{ i.city }}/" class="btn border-info">{{ i.city }}</a>
                {% endfor %}
            </div>
        </div>
        <div class="paragraph">
            <h1></h1>
            <p>
            </p>
        </div>
    </div>
</div>
{% endblock %}