{% extends 'dashboard/base_dashboard.html' %}
{% block title %}Form House {% endblock %}
{% block body %}
<div class="solution">
    <div class="form-panel">
        <h1>House</h1>
    </div>
    <form action="" class="form-horizontal" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {% for field in form %}
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <span class="text-danger small">
                    {{ field.error }}
                </span>
            </div>
            <div class="col-sm-10">
                <div class="form-group">
                    <label for="pwd">{{ field.label_tag }}</label>
                    {% load widget_tweaks %}
                    {% render_field field class="form-control" placeholder=field.name %}
                    <!-- {{ field|append_attr:"class:form-control" }} -->
                </div>
            </div>
        </div>
        {% endfor %}
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <button type="submit" class="btn btn-success">Submit</button>
            </div>
        </div>
    </form>
</div>
{% endblock %}