{% extends 'dashboard/base.html' %}
{% block title %}Table Place {% endblock %}
{% block title_main %}Table House Details{% endblock %}
{% block details %}Edit H For You{% endblock %}
{% block body %}
<div class="boxes">
    {% load widget_tweaks %}
    <form action="" class="form-horizontal" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.media }}
        {{ form.as_p }}
        <div class="modal-footer">
            <input type="submit" class="submit-btn btn btn-primary" value="Create">
        </div>
    </form>
</div>
{% endblock body %}

